#quoteDisplay{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 50px;
    margin-left: 150px;
}

h1{
    font-family: cursive;
    text-align: center;
    color: black;
}

body{
    background: url(https://i.ytimg.com/vi/cg_zhVD1f_k/maxresdefault.jpg);
}

#combine{
    border: black solid 1px;
}